body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 10px 0;
}

#ticket-container {
  display: grid; /* switch from flex to grid */
  grid-template-columns: repeat(6, 1fr); /* 6 columns per row */
  gap: 15px;
  width: 100%; /* optional */
}

.ticket {
  display: flex;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  /* transition: transform 0.3s ease; */
  cursor: pointer;
  text-align: center;
}

/* .ticket.pending {
  background-color: #6c757d;
} */

.ticket.ready {
  background-color: #28a745; /* green */
}

#watermark {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  font-size: 13rem;
  font-weight: bold;
  color: rgba(0, 162, 255, 0.3);
  pointer-events: none;
  z-index: 9999;
  text-align: center;
  white-space: nowrap;
}

#watermark.visible {
  display: block;
}

/* .ticket:hover {
  transform: scale(1.05);
} */
